<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link  href="static/favicon.ico"  rel="shortcut icon" type="image/x-icon" />
    <title>[[${status}]]</title>
</head>
<body>
<div style="margin: 0 auto;text-align: center">
    <h1 style="color: #e2a215;font-weight: bolder;">[[${status}]]</h1>
    <p><mark>[[${path}]]</mark> - [[${error}]]</p>
    <p>[[${timestamp}]]</p>
    <p>[[${exception}]] [[${message}]]</p>
    <a th:href="${index}">返回首页</a>
</div>
</body>
</html>